<div class="app-contenedor">

  <app-sidebar-menu />

  <div class="main-area">
    <app-header />

    <div class="contenido-principal">
      <router-outlet />

      @if (isMapRoute && ws.consolaSistemaAbierta()) {
        <app-consola-sistema />
      }

      @if (ws.statsAbierto()) {
        <app-stats />
      }
    </div>

    @if (isMapRoute) {
      <app-control-panel />
    }
  </div>

  @if (ws.agentSelec(); as agentId) {
    <app-agent-panel [agentId]="agentId" />
  }

  @if (ws.logPanelTab() !== null) {
    <app-floating-log-panel />
  }

</div>
